.main-profile {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 95vw;
    max-width: 969px;
    margin: 0 auto;
    height: 87vh;
}
.profile-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.profile-container .info-container, 
.profile-container .data-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    max-width: 280px;
    flex-direction: column;
}

.profile-container .info-container .user-icon {
    height: 14rem;
    width: 14rem;
    background-color: var(--color-secondary);
}

.main-profile .profile-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}
.main-profile .scroll-view > div {
    height: 100%;
}

.main-profile .scroll-view {
    position: relative;
    width: 100%;
    height: 100%;
}

.profile-container .info-container a {
    color: var(--color-secondary);
    margin-left: 15rem;
    margin-top: -1rem;
    font-size: 1.2rem;
    font-weight: 500;
}

.profile-container .info-container h1 {
    color: var(--color-text-secondary);
    margin-top: 0.5rem;
    font-size: 1.8rem;
}

.profile-container .info-container p, .profile-container .data-container p  {
    color: var(--color-text-secondary);
    margin-top: 2rem;
    font-size: 1.6rem;  
}

.profile-container .info-container .input-container .input-items {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    width: 100%;
}
.profile-container .info-container .input-container {
    margin: 0;
    padding: 0;
    width: 100%;
}
.profile-container .info-container .input-container .input-items input {
    border: none;
    background-color: transparent;
    height: 30px;
    width: 160px;
    margin-top: 1.8rem;
    color: var(--color-text-secondary);
    font-size: 1.6rem;
    text-align: end;
}

.profile-container .data-container .items {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    font-weight: 400;
    width: 100%;
}

.profile-container .data-container .items h1 {
    height: 50px;
    width: 160px;
    margin-top: 1rem;
    color: var(--color-text-secondary);
    font-size: 3.8em;
    text-align: end;
    font-weight: 300;
}

.profile-container .data-container .button-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 5rem;
}

.profile-container .data-container .button-container .btn-small +.btn-small {
    margin-left: 0.5rem;
}

@media(max-width: 700px) {
    .main-profile {
        height: 90vh;
    }
    .main-profile .scroll-view {
        overflow-y: scroll;
        width: 95%;
        height: 68vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .main-profile .profile-container {
        flex-direction: column;
        justify-content: flex-start;
    }
    .main-profile .scroll-view > div {
        height: auto;
    }
    .profile-container .info-container, .profile-container .data-container {
        margin: 2rem 0 !important;
        height: 70vh;
    }
}