.main-politics {
    display:flex;
    align-items: flex-start;
    justify-content: center;
    width: 95vw;
    max-width: 960px;
    height: 87vh;
    max-height: 600px;
}

.main-politics .politics-container {
    background: var(--color-background);
    border-radius: 3.4rem;
    padding: 3rem 4rem;
    max-width: 960px;
    height: 75vh;
    max-height: 700px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.main-politics .politics-container .scroll-container { 
    flex-direction: column;
    overflow-y: scroll;
    width: 47%;
    height: 360px;
    margin-left: 1rem;
}

.main-politics .politics-container .scroll-container::-webkit-scrollbar { 
    display: none;
}

#scroll-container1 {
    margin-left: 5rem;
}

#scroll-container2 {
    margin-left: -7rem;
}

.main-politics .politics-container .scroll-container .text-container {
    margin-top: 1.5rem;
    margin-left: 3rem;
}

.main-politics .politics-container .scroll-container .title-container a {
    color: #39729D;
    font-size: 2.5rem;
    font-weight: 500;
}

.main-politics .politics-container .scroll-container .text-container a {
    color: var(--color-text-secondary);
    font-size: 1.8rem;
    margin-top: 5rem;
}

.main-politics .politics-container .text-container .classes {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(13rem, 1fr));
    width: 100%;
    grid-gap: 1rem;
    margin: 2rem 0;
}

.main-politics .politics-container .text-container .classes .block {
    width: 18.5rem;
    height: 18.5rem;
    color: var(--color-text-primary);
    background:#39729D;
    border-radius: 25px;
}


#text-faq, #text-priv, #text-cook, #text-sesion, #text-dir {
    display: none;
}


.main-politics .politics-container .scroll-container .FAQ:hover #text-faq { 
    display: block;
}
.main-politics .politics-container .scroll-container .PRIV:hover #text-priv { 
    display: block;
}
.main-politics .politics-container .scroll-container .COOK:hover #text-cook { 
    display: block;
}
.main-politics .politics-container .scroll-container .SESION:hover #text-sesion { 
    display: block;
}
.main-politics .politics-container .scroll-container .DIR:hover #text-dir { 
    display: block;
}