.notifications-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 90vw;
    max-width: 65rem;
    height: 70vh;
    overflow-y: scroll;
    margin: 1rem auto;
}

.notifications-container .notifications-header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    max-width: 61rem;
    padding: 2rem;
    height: 6.5rem;
    border-radius: 3.4rem;
    background: var(--color-background);
    color: var(--color-text-secondary);
    box-shadow: 0px 5px 20px rgba(38, 39, 56, 0.45);
}
.notifications-container .notifications-header a {
    color: var(--color-text-secondary);
}

.notifications-container .notifications {
    margin-top: 7rem;
    z-index: 100;
}

.notifications-container .notifications-header h1 {
    flex: 1;
    text-align: center;
}

.notifications-container .notifications-header svg {
    cursor: pointer;
}