.school-container {
    background: var(--color-background);
    border-radius: 3.4rem;
    padding: 3rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 70%;
    max-width: 960px;
    height: 75vh;
    max-height: 700px;
}

.school-photo{
    display: flex;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    color: #39729D;
}

.school-photo .input-container2 .input-items2 p{
    font-size: 15px;
}

.school-name{
    margin-top: 100px;
    margin-left: 20px;
}

.school-container .scroll-view {
    overflow-y: scroll;
    height: 470px;
    padding-right: 1.7rem;
    margin-right: 0rem;

}

.input-container2 .input-items2 {
    display: flex;
    width: 55%;
    margin-top: 10px;
    margin-left: 90px;
    color: var(--color-text-secondary);  
}

.input-container2 {
    margin: 0;
    padding: 0;
    width: 50%;
}

.input-container2 .input-items2 input {
    border: none;
    background-color: transparent;
    
    width: 350px;
    color: var(--color-text-secondary);
    font-size: 1.4rem;
    text-align: end;
}

.description{
    display: flex;
    color: var(--color-text-secondary);
    font-family: Roboto;
    font-style: normal;
    margin-left:30px ;
    margin-top:5px ;
}

.description .description-text h1{
    font-size:18px;
    margin-bottom:22px;
    margin-top:5px;
}

.description .description-text p{
    font-size:13px;
    margin-bottom:18px;
    margin-left: 50px;
    text-align: justify;
    text-indent: 10px;
}

.input-items3{
    display: flex;
    align-items: center;  
}

.input-items3 input {
    border: none;
    background-color: transparent;
    font-size: 16px;
    margin-left:6px;
    margin-bottom:14px;
    font-weight: bold;
    color: var(--color-text-secondary);
}

.school2-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0 auto;
    width: 100%;
    
}

.school2-container > h1 {
    color: #39729D;
    align-self: flex-start;
    flex-wrap: wrap;
}

.school2-container .classes {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(13rem, 1fr));
    width: 100%;
    grid-gap: 1rem;
    margin: 4rem 0;
}

@media(max-width: 425px) {
    .school2-container .classes {
        grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
    }
}

@media(max-width: 360px) {
    .school2-container .classes {
        grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
    }
}