.slide-enter {
    transform: translateY(-100%);
    opacity: 0;
}
.slide-enter-active {
    transform: translateY(0%);
    opacity: 1;
    transition: all 300ms ease-in-out;
}
.slide-exit {
    transform: translateY(0%);
    opacity: 1;
}
.slide-exit-active {
    transform: translateY(-100%);
    opacity: 0;
    transition: all 300ms ease-in-out;
}

.global-school-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.blur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(28,26,50,0.43);
    z-index: 1;
}
.school-menu-container {
    display: flex;
    align-items: center;
    width: 95%;
    max-width: 960px;
    height: 470px;
    padding-right: 6rem;
    
}
.school-menu-content{
    width: 600px;
    height: 350px;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--color-background);
    
}
.school-header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom:0px ;
    margin-left: 0px;
    margin-bottom: 10px;
}
.card-content{
    display: flex;
    margin-right: 100px;
}

.main-div{
    width: 550px;
    display: flex;
    flex-direction: column;
    
}

.school-text{
    display: flex;
    justify-content:flex-start ;
    align-items: flex-start;    
    font-weight: 500;
    color: var(--color-text-secondary);
    margin-right: 400px;
}
.class{
    display: flex;
    justify-content:space-around;
    align-items: flex-start;    
    font-weight: 500;
    color: var(--color-text-secondary);
    margin-right: 400px;
    margin-bottom: 20px;
}
.class p{
    display: flex;
    margin-right:5px ;
    font-size:12px
}

.texts{
    display: flex;
    margin-top: 1.6rem;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 2rem;
    line-height: 2.6rem;
    text-align: center;
}

.close{
    color:#333333
}

.buttons{
    display: flex;
    margin-left:90px;
}
.buttons button{
    display: flex;
    margin-right:90px;
}
@media(max-width: 400px) {
    .school-menu-container {
        padding-right: 0;
    }
    .school-menu-content {
        align-self: center;
    }
}
