.creation-group {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.creation-group .creation-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 32rem;
    width: 20rem;
}

.creation-group .creation-container .creation-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--color-text-secondary-opacity);
    width: 20rem;
    margin: 1.5rem 1rem;
}

.creation-group .creation-container .creation-header h1 {
    text-align: left;
    font-size: 2.2rem;
    line-height: 2.2rem;
    margin: 0;
    color: var(--color-text-secondary-opacity);

}

.creation-group .creation-container .creation-content {
    background: var(--color-primary);
    height: 28rem;
    width: 20rem;
    border-radius: 2.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem 0;

}


.creation-content .scroll-view {
    overflow-y: scroll;
    width: 95%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.creation-content .scroll-view::-webkit-scrollbar {
    display: none;
}
