.main-home {
    display:flex;
    align-items: flex-start;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.main-home .home-container {
    width: 1000px;
    height: 500px;
    background: var(--color-background);
    border-radius: 34px;
    max-width: 90vw;
    padding: 5rem;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

.main-home .home-container > div > h1 {
    margin-top: 2rem;
    color: #39729D;
}
.add-icon {
    color: #39729D;
    padding: 1rem;
    position: fixed;
    top: 130px;
<<<<<<< HEAD
    right: 190px;
    z-index: 1;
=======
    right: 330px;
>>>>>>> c5f92fb5e9cfa0f5b7a6a2fb3a6c78b7e1177f49
}
#classes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: -1rem;
    margin-top: 40px;
}
.item {
    margin:5px;
    color: var(--color-text-primary);
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 5rem;
    line-height: 5.9rem;
    text-align: center;
    padding: 4rem;
    background:#39729D;
    box-shadow: 0px 2px 8px -1px rgba(0,0,0,0.24);
    border-radius: 25px;
}
.span {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: var(--color-text-secondary);
    display: flex;
    align-items: center;
    justify-content: center;    
    margin-bottom: 15px;
}
.main-home .calendar-content {
    position: absolute;
    left: 20px;
    bottom: 20px;
}

