.feedback-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 95vw;
    max-width: 960px;
    height: 87vh;
    flex-direction: column;
}

.feedback-container .message-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 500px;
    margin-top: 1rem;
}

.feedback-container .feedback-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    max-width: 500px;
    height: 80%;
}

.feedback-container .message-container h1 {
    color: var(--color-text-secondary);
    margin-bottom: 1rem;
    font-size: 1.8rem;
    height: 3rem;
}

.feedback-container .message-container .input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.feedback-container #feedback-truncated-container {
    height: 75vh;
    max-height: 540px;
}

.feedback-container .message-container .input-container input,
.feedback-container .message-container .input-container textarea  {
    width: 100%;
    margin-top: 2rem;
    background-color: transparent;
    font-size: 1.8rem;
    text-align: justify;
    border: 2.5px solid var(--color-border-primary);
    border-radius: 5px;
    color: var(--color-text-secondary);
}

#input1{
    height: 8vh;
    max-height: 5rem;
    padding: 1rem;
}

#input2{
    height: 35vh;
    max-height: 25rem;
    padding: 1rem;
}

.feedback-container .btn-container {
    width: 95%;
    max-width: 960px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 1rem;
}

@media(max-width: 700px) {
    .feedback-container {
        height: 90vh;
    }
    .feedback-content {
        height: 65vh;
    }
    .feedback-container .btn-container {
        justify-content: center;
    }
    .feedback-container #feedback-truncated-container {
        height: 68vh;
    }
}