.input {
    width: 32rem;
    height: 4.9rem;
    margin: 0.7rem 0;
    border-radius: 5px;
    border: 3px solid var(--color-border-primary);
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input input {
    background: none;
    border: none;
    color: var(--color-text-secondary);
    font: 400 1.8rem Roboto;
    flex: 1;
}

.input svg {
    color: var(--color-text-secondary);
}

@media(max-width: 600px) {
    .input {
        width: 280px !important;
    }
}