.tutorial-create-container  {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95vw;
    max-width: 960px;
    height: 87vh;
    max-height: 600px;
    margin: auto;
    margin-top: 50px;
}

.tutorial-create-container  .infos7{
    margin-top: 2rem;
    font-family: Roboto;
    font-size: 15px;
    line-height: 29px;
    text-align: center;
    color: var(--color-text-secondary);
    width: 754px;
    height: 368.79px;   
}

.video7 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
}



@media(max-width: 700px) {
    .tutorial-create-container  {
        height: 90vh;
    }
    .tutorial-create-content{ 
        height: 65vh;
    }   
}