.creation-cards {
    width: 90%;
    margin-top: 1.6rem;
}

.creation-cards .creation-card {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.8rem;
}

.creation-cards .creation-card label {
    height: 4.2rem;
    font-size: 1.6rem;

    color: var(--color-text-secondary-opacity);
    border: none;
    padding: 1rem;
    display: flex;
    align-items: center;
    font-weight: 400;
    border-radius: 2rem;
    width: 90%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.creation-cards .creation-card input {
    display: none;
}

.creation-cards .creation-card input:checked + label {
    box-shadow: inset 0px 5px 5px rgba(0, 0, 0, 0.28);
}

.creation-cards .creation-card button {
    background: none;
    border: none;
    color: var(--color-text-primary);
    cursor: pointer;
}