.main-politics {
    display:flex;
    align-items: flex-start;
    justify-content: center;
    width: 95vw;
    max-width: 960px;
    height: 87vh;
    max-height: 600px;
}

.main-politics .container {
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.main-politics .container .select-container {
    display: flex;
    margin-top: 3rem;
    justify-content: flex-end;
}

.main-politics .container .select-container .select1 select,
.main-politics .container .select-container .select2 select,
.main-politics .container .select-container .select3 select {
    background-color: var(--color-primary);
    box-shadow: 0px 5px 20px rgba(38, 39, 56, 0.45);
    border: none;
    border-radius: .5rem;
    font-size: 2rem;
    color: #CFCFCF;
    margin-left: 1.5rem;
    align-items: center;
    padding: 13px 20px 13px 25px;
    text-decoration: none;
    cursor: pointer;
}

.main-politics .container .select-container .select1 select {
    height: 55px;
    width: 350px;
}

.main-politics .container .select-container .select2 select,
.main-politics .container .select-container .select3 select {
    height: 55px;
    width: 250px;
}

.main-politics .container .schedule-container {
    margin-top: 4rem;
    flex-direction: column;
    overflow-y: scroll;
    
    padding: 3rem 4rem;
    max-width: 960px;
    height: 75vh;
    max-height: 400px;
}

.main-politics .container .schedule-container::-webkit-scrollbar { 
    display: none;
}


 table {
    font-size: 2rem;
    border-radius: 1rem;
    border-collapse: collapse;
    text-align: center;
    width: 100%;
    color: #CFCFCF;
}


th {
    border: 1px solid #CFCFCF;
    height: 45px;
}

td {
    border: 1px solid #CFCFCF;
    height: 50px;
    border-radius: 10px;
}

#hora{
    border: none;
}
