.user-content {
    display: flex;
    align-items: center;
}

.user-content h1 {
    position: absolute;
    left: 8rem;
    width: 20%;
    font-size: 1.8rem;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: var(--color-text-primary);
    font-weight: 500;
}
