.droppable-container {
    background: var(--color-primary);
    border-radius: 3.4rem;
    padding: 2rem 0.8rem;
    margin: 0.8rem;
    width: 25rem;
}
.droppable-container .draggable-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.droppable-container .draggable-container .draggable-btn {
    background: none;
    border: none;
    cursor: pointer;
}