@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,800,900&display=swap');

/* GLOBAL STYLES */

:root {
    font: 400 1.4rem Roboto, sans-serif;
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    -webkit-font-smoothing: antialiased;

    font-size: 60%;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html, body {
    scroll-behavior: smooth;
    overflow: hidden;
}

img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

a {
    text-decoration: none;
    color: #fff;
}

textarea {
    font: 400 1.4rem Roboto, sans-serif;
    resize: none;
}

::-webkit-scrollbar {
    width: 1.2rem;
    background-color: #BDBDBD;
    border-radius: 1rem;
}
  
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 1rem;
    border-radius: 1rem;
    background: #39729D; 
    box-shadow: 0 4px 4px rgba(0,0,0,0.25); 
}

@media(min-width: 700px) {
    :root {
      font-size: 62.5%;
    }
}


/* STYLIZED CLASSES */

.main-container {
    display:flex;
    align-items: flex-start;
    justify-content: center;
    width: 100vw;
    height: 87vh;
}

.container-bg-dark {
    background: url(../../assets/images/container-background-dark.svg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    border-radius: 2.5rem;
}

.container-bg-light {
    background: url(../../assets/images/container-background.svg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    border-radius: 2.5rem;
}

.btn {
    width: 200px;
    padding: 1.5rem 2.5rem;

    background-color: var(--color-primary);
    box-shadow: 0px 5px 20px rgba(38, 39, 56, 0.45);
    border: none;
    border-radius: 6.5rem;

    text-decoration: none;
    color: white;
    font-size: 1.7rem;
    font-weight: 400;
    text-align: center;

    cursor: pointer;
    transition: background-color .3s;
}

.btn:hover {
    background-color: var(--color-primary-darker);
}

.btn-small {
    width: 130px;
    padding: 1rem 2rem;

    background-color: var(--color-primary);
    box-shadow: 0px 5px 20px rgba(38, 39, 56, 0.45);
    border: none;
    border-radius: 6.5rem;

    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    font-weight: 400;
    text-align: center;

    cursor: pointer;
    transition: background-color .3s;
}

.btn-bg-dark {
    background-color: var(--color-secondary);
}

.btn-bg-dark:hover {
    background-color: var(--color-secondary-darker);
}

.user-icon {
    border-radius: 50%;
    box-shadow: 0px 5px 20px rgba(38, 39, 56, 0.45);
    display: flex;
    align-items: center;
    justify-content: center;
}


.form-container button {
    margin-top: 2.5rem;
}

.circle-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4.2rem;
    width: 4.2rem;
    border-radius: 50%;
    background-color: var(--color-primary);
    box-shadow: 0px 5px 20px rgba(38, 39, 56, 0.45);
    cursor: pointer;
}

.video {
    margin-top: 3rem;
    border-radius: 2rem;
}

@media (max-width: 700px) {
    .main-container {
        height: 90vh;
    }
}