.menu-container {
    width: 280px;
    background-color: #31445C;
}

.menu-container h1 {
    margin: 15px;
}

.menu-container .greet {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 15px;
    border-bottom: 1px solid white;
}

.menu-container .greet p {
    font-weight: 300;
    margin-left: 15px;
}

h3 {
    margin-left: 15px;
    font-size: 18px;
    font-weight: 300;
}
