.global-teacher-modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.global-teacher-modal .teacher-modal-content {
    width: 600px;
    height: 350px;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--color-background);
    z-index: 5;
}

.teacher-modal-content .teacher-modal-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom:0px ;
    margin-left: 0px;
    margin-bottom: 10px;
}

.teacher-modal-content .card-content3{
    display: flex;
    margin-right: 100px;
}

.teacher-modal-content .main-div3{
    width: 550px;
    display: flex;
    flex-direction: column;
    
}

.teacher-modal-content .school-text3{
    display: flex;
    justify-content:flex-start ;
    align-items: flex-start;    
    font-weight: 500;
    color: var(--color-text-secondary);
    margin-right: 400px;
}
.teacher-modal-content .class3{
    display: flex;
    justify-content:space-around;
    align-items: flex-start;    
    font-weight: 500;
    color: var(--color-text-secondary);
    margin-right: 400px;
    margin-bottom: 20px;
}
.teacher-modal-content .class3 p{
    display: flex;
    margin-right:5px ;
    font-size:12px
}

.teacher-modal-content .texts3{
    display: flex;
    margin-top: 1.6rem;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 2rem;
    line-height: 2.6rem;
    text-align: center;
}

.teacher-modal-content .close3{
    color:#333333
}

.teacher-modal-content .buttons2{
    display: flex;
    margin-left:90px;
}
.teacher-modal-content .buttons2 button{
    display: flex;
    margin-right:90px;
}
@media(max-width: 400px) {
    .global-teacher-modal .teacher-modal-content {
        align-self: center;
    }
}
