.global-teacher-modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.global-teacher-modal .teacher-modal-content {
    width: 600px;
    height: 350px;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--color-background);
    z-index: 5;
}

.teacher-modal-content .teacher-modal-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0;
    margin-bottom: 1rem;
    padding: 1rem;
    width: 90%;
}

.teacher-modal-content .teacher-main-card {
    width: 550px;
    display: flex;
    flex-direction: column;
    
}

.teacher-modal-content .main-text .grade-text {
    display: flex;
    justify-content:flex-start ;
    align-items: flex-start;    
    font-weight: 500;
    color: var(--color-text-secondary);
    margin-right: 400px;
}

.teacher-modal-content .main-text .grades {
    display: flex;
    justify-content:space-around;
    align-items: flex-start;    
    font-weight: 500;
    color: var(--color-text-secondary);
    margin-right: 400px;
    margin-bottom: 20px;
}

.teacher-modal-content .main-text .grades p {
    display: flex;
    margin-right:5px ;
    font-size:12px
}

.teacher-modal-content .grades {
    display: flex;
    margin-top: 1.6rem;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 2rem;
    line-height: 2.6rem;
    text-align: center;
}

.teacher-modal-content .buttons {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

@media(max-width: 400px) {
    .global-teacher-modal .teacher-modal-content {
        align-self: center;
    }
}
