.input-outline-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.7rem;
}

.input-outline-container label {
    color: var(--color-text-secondary);
    font-weight: bold;
    font-size: 1.6rem;
    width: 100%;
}

.input-outline-container input {
    width: 100%;
    background: none;
    border: none;
    color: var(--color-text-secondary);
    font-size: 1.3rem;
    text-align: right;
}