.logon-container {
    width: 100%;
    max-width: 1120px;
    height: 100vh;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;
}

.logon-container .content-login {
    width: 100%;
    padding: 68px 96px;
    background: #fff;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 15px;
}


.logon-container .content-login img {
    margin: 30px 5px;
}

.logon-container .content-login form h1 {
    font-size: 32px;
    margin-bottom: 60px;
    text-align: center;
    color: #000;
}

.logon-container .content-login form {
    width: 100%;
    max-width: 400px;
}

.logon-container .content-login form input {
    margin: 8px 0;
}

.logon-container .content-login form a {
    font-size: 16px;
    color: #333;
    font-weight: 300;
    display: block;
    text-align: center;
}
