.main-modules {
    display:flex;
    align-items: flex-start;
    justify-content: center;
    width: 95vw;
    max-width: 960px;
    height: 87vh;
    max-height: 600px;
}

.main-modules .modules-container {
    padding: 4rem 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 75vh;
    max-height: 600px;
    overflow-y: scroll;
    width: 90vw;
    max-width: 850px;
}


.main-modules .modules-container::-webkit-scrollbar { 
    display: none;
}

.main-modules .modules-container .modules-content {
    background: #39729D;
    border-radius: 3.4rem;
    padding: 3rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 22vw;
    height: 60vh;
    align-items: center;
    margin-left: 1rem;
}

.main-modules .modules-container .modules-content h1 {
    color: var(--color-background);
    margin-top: 1rem;
}


.main-modules .modules-container .modules-content .teacher-container,
.main-modules .modules-container .modules-content .matter-container,
.main-modules .modules-container .modules-content .class-container {
    display: flex;
    flex-direction: row;
}

.main-modules .modules-container .modules-content .teacher-container h1 {
    margin-left: 5rem;
    margin-right: 5rem;
    font-size: 18px;
}

.main-modules .modules-container .modules-content .matter-container h1 {
    margin-left: 6.5rem;
    margin-right: 6.5rem;
    font-size: 18px;
}

.main-modules .modules-container .modules-content .class-container h1 {
    margin-left: 7.5rem;
    margin-right: 7rem;
    font-size: 18px;
}

.main-modules .modules-container .modules-content .icon-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(2.5rem, 1fr));
    width: 100%;
    grid-gap: 1rem;
}

.main-modules .modules-container .modules-content .icon-container .circle-icon-container {
    background-color: var(--color-background);
    height: 30px;
    width: 30px;
}