.help-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 95vw;
    max-width: 960px;
    height: 87vh;
    max-height: 600px;
    flex-direction: column;
}

.help-container .infos{
    margin-top: 2rem;
    font-family: Roboto;
    font-size: 15px;
    line-height: 29px;
    text-align: center;
    color: var(--color-text-secondary);
}

@media(max-height: 700px) {
    .help-container .video {
        height: 45vh;
    }
}

@media(max-width: 700px) {
    .help-container {
        height: 90vh;
    }
    .help-content {
        height: 65vh;
    }   
}